body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listBody {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.listBody p {
  margin-left: 5px;
}

.datePicker {
  margin-right: 10px;
}

.primaryButton {
  margin-top: 20px;
}

.filterHeader {
  margin-bottom: -5px;
}

.cardListItem {
  margin-bottom: 5px;
}